:host {
  padding: 0px !important;
}

.button {
  height: 48px;
  border-radius: 12px;
}

.fixButton {
  width: 48px;
  height: 48px;
}

.icon {
  padding-left: 8px;
}

.buttons {
  position: relative;
  bottom: 27px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: max-content;
  gap: 40px;
  float: right;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  margin: 0px !important;
}

.table {
  position: relative;
  bottom: 30px;
}

.margin {
  display: flex;
  align-items: center;
}