.icon {
  position: relative;
  bottom: 1px;
}

::ng-deep .nestedDropdownMenu {
  max-height: 500px !important;

  &::-webkit-scrollbar {
    width: 9px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.18);
  }
}

.home {
  height: 57.8px !important;
  position: relative;
  top: 2.5px;
  border: solid 1px white;
  flex-direction: row-reverse;
  justify-content: space-between;
  border-left: 0px;
}

.admin {
  flex-direction: row-reverse;
  justify-content: space-between;
  position: relative;
  top: 5px;
}

.cat {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tit {
  position: relative;
  &--isClear {
    right: 52px;
  }
  
  &--noClear {
    right: 83px;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}