<div class="forms">
  <my-input
    appearance="fill"
    class="fix backgroundColor item"
    label="Cena"
    type="text"
    controlName="price"
  >
  </my-input>

  <mat-form-field
    class="fix backgroundColor item"
    [hideRequiredMarker]="true"
  >
    <mat-label class="black">Punkt sprzedaży</mat-label>
    <mat-select formControlName="salesPointId">
      <mat-option
        *ngFor="let item of salesPointsFixedNames"
        [value]="item.id"
      >
        {{ item.changedName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="forms">
  <lz-nested-dropdown
    class="dropdown fix backgroundColor removeDropdownIconMargin"
    [categoriesData]="categories$ | async"
    [inAdmin]="true"
    name="Kategorie"
    (dropdownChange)="addCategory($event)"
  >
  </lz-nested-dropdown>

  <mat-form-field
    class="fix backgroundColor dropdown"
    [hideRequiredMarker]="true"
  >
    <mat-label class="black">Produkt</mat-label>
    <mat-select
      formControlName="productId"
      (selectionChange)="getProductProperties($event.value)"
    >
      <mat-option
        *ngFor="let item of products$ | async"
        [value]="item.id"
      >
        {{ item.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="forms">
  <div
    *ngIf="categoriesToDisplay.length"
    class="list"
  >
    <h3>Kategorie</h3>
    <app-list-items
      *ngFor="let category of categoriesToDisplay; let i=index"
      [data]="'id: ' + category.id.toString() + ', kategoria: ' + category.name"
      [lineFixer]="{ index: i, array: categoriesToDisplay}"
      (delete)="removeCategory(category)"
    >
    </app-list-items>
  </div>

  <div
    class="list"
    *ngIf="productPropertiesKeys.length"
  >
    <div
      class="list--fix"
      *ngFor="let key of productPropertiesKeys; let i=index"
    >
      <h3>{{ key }}</h3>
      <mat-button-toggle-group
        (change)="toggleChange(key, $event.value)"
        [value]="productPropertiesAll[key][0]"
      >
        <ng-container *ngFor="let value of productPropertiesAll[key]">
          <mat-button-toggle [value]="value">{{ value }}</mat-button-toggle>
        </ng-container>
      </mat-button-toggle-group>
      <div
        *ngIf="i+1 !== productPropertiesKeys.length"
        class="line"
      >
      </div>
    </div>
  </div>
</div>

<div class="base">
  <lz-base64 (emitImage)="saveImage($event)"></lz-base64>
</div>