<div class="forms">
  <my-input
    appearance="fill"
    class="fix backgroundColor item"
    label="Cena"
    type="text"
    controlName="price"
  >
  </my-input>

  <mat-form-field
    class="fix backgroundColor item"
    [hideRequiredMarker]="true"
  >
    <mat-label class="black">Punkt sprzedaży</mat-label>
    <mat-select formControlName="salesPointId">
      <mat-option
        *ngFor="let item of salesPointsFixedNames"
        [value]="item.id"
      >
        {{ item.changedName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="forms">
  <mat-form-field
    class="fix backgroundColor dropdown"
    [hideRequiredMarker]="true"
  >
    <mat-label class="black">Produkt</mat-label>
    <mat-select
      formControlName="productId"
      (selectionChange)="getProductProperties($event.value)"
    >
      <mat-option
        *ngFor="let item of products$ | async"
        [value]="item.id"
      >
        {{ item.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <lz-nested-dropdown
    class="dropdown fix backgroundColor removeDropdownIconMargin"
    [categoriesData]="categories$ | async"
    [inAdmin]="true"
    name="Kategorie"
    (dropdownChange)="addCategory($event)"
  >
  </lz-nested-dropdown>
</div>

<div class="forms">
  <div
    *ngIf="categoriesToDisplay.length"
    class="list"
  >
    <h3>Kategorie</h3>
    <app-list-items
      *ngFor="let category of categoriesToDisplay; let i=index"
      [data]="'id: ' + category.id.toString() + ', kategoria: ' + category.name"
      [lineFixer]="{ index: i, array: categoriesToDisplay}"
      (delete)="removeCategory(category)"
    >
    </app-list-items>
  </div>
</div>

<lz-base64 (emitImage)="saveImage($event)"></lz-base64>