<div class="forms">
  <mat-form-field
    class="fix backgroundColor item"
    [hideRequiredMarker]="true"
  >
    <mat-label class="black">Produkt</mat-label>
    <mat-select formControlName="product">
      <mat-option
        *ngFor="let item of products | async"
        [value]="item.id"
      >
        {{ item.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <my-input
    appearance="fill"
    class="fix backgroundColor item"
    label="Nazwa"
    type="text"
    controlName="name"
  >
  </my-input>
</div>

<div class="fixer">
  <h3 class="info">Dostępne właściwości</h3>
  <div class="lessMargin forms fix--formatting ">
    <my-input
      appearance="fill"
      class="fix backgroundColor"
      label="Nazwa właściwości"
      type="text"
      controlName="propertyName"
    >
    </my-input>
    <my-input
      appearance="fill"
      class="fix backgroundColor"
      label="Właściwość"
      type="text"
      controlName="property"
    >
    </my-input>
    <button
      class="secondaryColor white"
      mat-icon-button
      (click)="mergeAndAddAdditionalInfo()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div
    *ngIf="additionalProperties.length"
    class="list"
  >
    <app-list-items
      *ngFor="let property of additionalProperties; let i=index"
      [data]="property.displayProperty"
      [lineFixer]="{ index: i, array: additionalProperties}"
      (delete)="removeAdditionalInfo(property)"
    >
    </app-list-items>
  </div>
</div>