@use '/src/styles/colors' as color;

.top {
  padding: 0 16px;
  margin: 5px 10px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  justify-content: space-between;
  height: 66px;

  &-size {
    width: 200px;
  }
}

.return {
  position: absolute;
  top: 80px;
  left: 15px;
  background-color: color.$secondaryColor;
  width: 40px;
  height: 40px;
}

.title {
  position: relative;
  bottom: 5px;
  font-family: 'SiteTitle';
  font-size: 38px;
  display: flex;
  align-items: center;
  color: black;
  color: color.$secondaryColor;

  &-size {
    width: 200px;
  }
}

.margin {
  margin: 30px 16% 0 16%;
  background-color: color.$primaryColor;
  border-radius: 18px;
  padding: 20px;
}