<app-top-menu
  (refreshOffers)="refreshOffers($event)"
  (getFavourites)="getFavourites()"
  (justRefreshOffers)="justRefreshOffers()"
>
</app-top-menu>

<div class="center">
  <app-offers
    class="size"
    [filterOffers]="offer"
    [getFavourites]="favouritesId"
    [refreshTrigger]="refreshTrigger"
  >
  </app-offers>
</div>

<button
  *ngIf="admin"
  mat-fab
  class="admin-button"
  (click)="onAdminButtonClick()"
>
  <mat-icon class="white">construction</mat-icon>
</button>

<button
  mat-icon-button
  class="info-button"
  (click)="onInfoButtonClick()"
>
  <span class="white info">i</span>
</button>