:host {
  display: flex;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 10px;
  align-items: center;
  margin: 10px 0;
  font-weight: bold;
  width: max-content;
  justify-content: space-between;
  transform: scale(1.25);
}

.file-input {
  display: none;
}

.image__wrapper {
  margin-right: 32px;
  width: 140px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: auto;
  height: auto;
  max-width: 140px;
  max-height: 100px;
}

.font {
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: center;
}