<div class="container">
  <img
    *ngIf="file; else noFile"
    [src]="file"
  >
  <ng-template #noFile><span class="font">Brak zdjęcia</span></ng-template>

  <input
    class="file-input"
    type="file"
    #fileInput
  >
  <div class="box">
    <button
      type="button"
      mat-icon-button
      (click)="$event.stopPropagation(); fileInput.click()"
    >
      <mat-icon>upload</mat-icon>
    </button>

    <button
      mat-icon-button
      (click)="deleteImage()"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>