@use '/src/styles/colors' as color;

.icon {
  &:hover {
    cursor: pointer;
  }

  &--yes {
    color: green;
  }

  &--no {
    color: red;
  }
}

.mat-mdc-form-field {
  background-color: color.$secondaryDarkerColor;
  border-radius: 12px 12px 0 0;
}

.mat-column {
  &-availableProps {
    max-width: 140px !important;
    overflow: auto;

    &::-webkit-scrollbar-thumb {
      background-color: color.$secondaryColor !important;
    }
  }

  &-additionalInfo {
    max-width: 200px !important;
    overflow: auto;

    &::-webkit-scrollbar-thumb {
      background-color: color.$secondaryColor !important;
    }
  }

  &-categoryName {
    max-width: 200px !important;
    overflow: auto;

    &::-webkit-scrollbar-thumb {
      background-color: color.$secondaryColor !important;
    }
  }

  &-delete {
    max-width: 80px !important;
  }
}