@use '/src/styles/colors' as color;

.mat-mdc-table .mat-mdc-header-cell {
  width: 190px;
}

.icon {
  &:hover {
    cursor: pointer;
  }

  &--yes {
    color: green;
  }

  &--no {
    color: red;
  }
}

.mat-mdc-form-field {
  background-color: color.$secondaryDarkerColor;
  border-radius: 12px 12px 0 0;
}