@use '/src/styles/colors' as color;

:host {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;
  min-height: 200px;
  
  width: 48%;
  max-width: 48%;
  max-height: fit-content;
}

.file-input {
  display: none;
}

.box {
  display: flex;
  flex-direction: column;
}

.font {
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: center;
}

img {
  max-width: 350px;
  max-height: 300px;
}