@use '/src/styles/colors' as color;

:host {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 10px;
  align-items: center;
  font-weight: bold;
  width: 100%;
  // width: 420px;
  height: 220px;
  min-width: 300px;
}

.file-input {
  display: none;
}

.image {
  margin-right: 42px;
  width: 100%;
  height: 180px;
  background-color: color.$secondaryColor;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.font {
  font-size: 24px;
  font-weight: 500;
}