<div class="box">
  <mat-button-toggle-group
    class="buttons"
    name="action-type"
    (change)="handleActionTypeChange($event)"
    value="AddOffer"
  >
    <mat-button-toggle
      value="AddOffer"
      class="button button--left"
    >
      Dodaj
    </mat-button-toggle>
    <mat-button-toggle
      value="ModifyOffer"
      class="button button--right"
    >
      Modyfikuj
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<offer-type-switch
  class="form"
  [toggleValue]="prevType"
>
</offer-type-switch>