<div class="forms">
  <mat-form-field
    class="fix backgroundColor dropdown"
    [hideRequiredMarker]="true"
  >
    <mat-label class="black">Produkt</mat-label>
    <mat-select formControlName="productId">
      <mat-option
        *ngFor="let item of products | async"
        [value]="item.id"
      >
        {{ item.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <lz-nested-dropdown
    class="dropdown fix backgroundColor removeDropdownIconMargin"
    [categoriesData]="categories$ | async"
    [inAdmin]="true"
    name="Kategorie"
    (dropdownChange)="addCategory($event)"
  >
  </lz-nested-dropdown>
</div>

<div class="forms fix--formatting">
  <my-input
    appearance="fill"
    class="fix backgroundColor"
    label="Nazwa właściwości"
    type="text"
    controlName="part1"
  >
  </my-input>
  <button
    class="secondaryColor white"
    mat-icon-button
    (click)="mergeAndAddAdditionalInfo()"
  >
    <mat-icon>add</mat-icon>
  </button>
  <my-input
    appearance="fill"
    class="fix backgroundColor"
    label="Właściwość"
    type="text"
    controlName="part2"
  >
  </my-input>
</div>

<div class="forms">
  <div
    *ngIf="categoriesToDisplay.length"
    class="list"
  >
    <h3>Kategorie</h3>
    <app-list-items
      *ngFor="let category of categoriesToDisplay; let i=index"
      [data]="'id: ' + category.id.toString() + ', kategoria: ' + category.name"
      [lineFixer]="{ index: i, array: categoriesToDisplay}"
      (delete)="removeCategory(category)"
    >
    </app-list-items>
  </div>

  <div
    *ngIf="additionalProperties.length"
    class="list"
  >
    <h3>Dodatkowe informacje</h3>
    <app-list-items
      *ngFor="let property of additionalProperties; let i=index"
      [data]="property"
      [lineFixer]="{ index: i, array: additionalProperties}"
      (delete)="removeAdditionalInfo(property)"
    >
    </app-list-items>
  </div>
</div>

<lz-base64 (emitImage)="saveImage($event)"></lz-base64>