<div class="forms">
  <mat-form-field
    class="fix backgroundColor item"
    [hideRequiredMarker]="true"
  >
    <mat-label class="black">Oferta</mat-label>
    <mat-select formControlName="offer">
      <mat-option
        *ngFor="let item of offersFixedNames"
        [value]="item.id"
      >
        {{ item.changedName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <my-input
    appearance="fill"
    class="fix backgroundColor item"
    label="Cena"
    type="text"
    controlName="price"
  >
  </my-input>
</div>