<div class="box">
  <mat-button-toggle-group
    class="buttons"
    name="action-type"
    (change)="handleActionTypeChange($event)"
    value="BanUser"
  >
    <mat-button-toggle
      value="BanUser"
      class="button button--left"
    >
      Zbanuj
    </mat-button-toggle>
    <mat-button-toggle
      value="UnbanUser"
      class="button button--right"
    >
      Odbanuj
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<user-type-switch
  class="form"
  [toggleValue]="prevType"
>
</user-type-switch>