my-input {
  width: 100%;
  display: flex;

  .form-field {
    width: 100%;
  }

  .suffixOutside {
    margin-top: 15px;
    margin-left: 15px;
  }

  .mat-error {
    display: flex !important;
    justify-content: space-between;
  }
}