<mat-form-field
  class="form-field"
  [appearance]="appearance"
  [hideRequiredMarker]="true"
>
  <mat-label class="black">
    {{ label }}
    <ng-container *ngIf="optional">(opcjonalne)</ng-container>
  </mat-label>

  <input
    class="black"
    #input
    matInput
    id="{{ 'search-' + label }}"
    [formControl]="getControl"
    [attr.disabled]="control.disabled"
    [placeholder]="visiblePlaceholder"
    [readonly]="readonly"
    [type]="type"
    [inputMask]="_mask"
    [errorStateMatcher]="matcher"
    [autocomplete]="autocomplete"
    [maxLength]="maxLength ?? 999"
  />

  <div
    matSuffix
    *ngIf="suffixTemplate"
  >
    <ng-container *ngTemplateOutlet="suffixTemplate"></ng-container>
  </div>

  <mat-hint
    *ngIf="hint"
    [align]="hintAlign"
  >
    <ng-container *ngTemplateOutlet="hint"></ng-container>
  </mat-hint>
</mat-form-field>

<mat-icon
  class="suffixOutside"
  *ngIf="suffixOutsideTemplate"
>
  <ng-container *ngTemplateOutlet="suffixOutsideTemplate"></ng-container>
</mat-icon>