<div class="container">
  <p>Szanowny Użytkowniku,</p>

  <p>
    Portal GdzieKupują specjalizuje się w prezentowaniu atrakcyjnych ofert dostępnych w różnych sklepach. Znajdziesz
    tutaj
    najtańsze i najlepsze produkty. Dzięki funkcji komentowania możesz sprawdzić wiarygodność danej oferty.
  </p>

  <p>
    Po wejściu na nasz doskonały portal prosimy wybrać powiat. Możesz to zrobić, klikając na opcję "Wybierz powiat" na
    głównym górnym pasku interakcji. Na tym samym pasku możesz wyszukiwać produkty i przeglądać kategorie ręcznie.
  </p>

  <p>
    Dzięki temu masz swobodę poruszania się i przeglądania ofert w danym powiecie bez konieczności posiadania konta.
    Jeśli
    z
    jakiegoś powodu chciałbyś dodać atrakcyjną ofertę lub skomentować już istniejącą, musisz założyć konto. Możesz to
    zrobić, klikając przycisk "Zaloguj" i następnie wybierając "Zarejestruj się". Po zalogowaniu możesz sprawdzić swoje
    informacje, klikając na ikonkę użytkownika w prawym górnym rogu.
  </p>

  <p>
    Aby dodać ofertę, kliknij opcję "Dodaj ofertę" na głównym pasku.
  </p>

  <p>
    Niewłaściwe komentarze mogą skutkować zablokowaniem możliwości komentowania przez administratora. Prosimy zachować
    odpowiednie zachowanie, ponieważ nieprawidłowe postępowanie może skutkować zablokowaniem konta przez administratora!
  </p>

  <p>
    Z poważaniem,
  </p>
  <p>
    Zespół Portalu GdzieKupują
  </p>
</div>